.fade-slide-down {
    animation-name: fade-slide-down;
    animation-duration: 0.6s;
    animation-delay: 0.5s;
    animation-timing-function: ease-out;
    /* 애니메이션 종류 위치 */
    animation-fill-mode: forwards;
    opacity: 0;
}

.ani-delay_1 {
    animation-delay: 1s;
}
.ani-delay_1_5 {
    animation-delay: 1.5s;
}
.ani-delay_2 {
    animation-delay: 2s;
}
.ani-delay_2_5 {
    animation-delay: 2.5s;
}
.ani-delay_3 {
    animation-delay: 3s;
}

@keyframes fade-slide-down {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}