.wrap {
    min-width: 768px;
}
/* header */
header {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    z-index: 999;
    transition: 0.3s;
    position: fixed;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
header .container {
    height: 50px;
}
header nav {
    position: relative;
    right: 0;
    top: 50px;
    transition: 0.3s;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.3); */
}
header nav .main-menu {
    display: none;
    padding: 10px;
    background: #eee;
}
header nav .main-menu li {
    padding-bottom: 10px;
    padding-top: 10px;
}
.toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.toggle .top,
.toggle .center,
.toggle .bottom {
    position: absolute;
    width: 20px;
    height: 3px;
    background: #000;
    left: 0;
    transition: 0.3s;
}
.toggle .center {
    top: 8px;
}
.toggle .bottom {
    top: 16px;
}
.toggle .click-t {
    width: 25px;
    top: 10px;
    transform: rotate(45deg);
    transition: 0.3s;
}
.toggle .click-c {
    display: none;
    transition: 0.3s;
}
.toggle .click-b {
    width: 25px;
    top: 10px;
    transform: rotate(-45deg);
    transition: 0.3s;
}
.h-box {
    height: 50px;
}
@media(min-width:768px){
    header {
        overflow: hidden;
    }
    header nav {
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        transition: none;
        box-shadow: none;
    }
    header nav .main-menu {
        padding: 0;
    }
    header nav .main-menu li {
        width: 25%;
        float: left;
        padding-bottom: 0;
        padding-top: 0;
        text-align: center;
    }
    header nav .main-menu li a {
        display: block;
        position: relative;
        padding-bottom: 0.8em;
        padding-top: 0.8em;
    }
    header nav .main-menu li a:after {
        content: '';
        width: 0;
        position: absolute;
        border-bottom: 2px solid #000;
        left: 50%;
        transform: translateX(-50%);
        bottom: 8px;
        transition: 0.3s;
    }
    header nav .main-menu li a:hover:after {
        width: 21%;
    }
    header nav .main-menu li.on a:after {
        width: 21%;
    }
    .toggle {
        display:none;
    }
    header nav ul {
        display: block !important;
    }
}

/* main-visual */
#main-visual {
    min-width: 768px;
    height: calc(100vh - 0px);
    background: #333;
    position: relative;
    padding-top: 0;
}
svg {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: arrow-m 1s ease infinite alternate;
}
@keyframes arrow-m {
    from {
        bottom: 20px;
    }
    to {
        bottom: 15px;
    }
}

/* contents */
section {
    padding-top: 70px;
    padding-bottom: 20px;
}
/* about */
#about {
    min-width: 768px;
    background: #fff;
}
.title{
    width: 100%;
    position: relative;
}
#about h1,
#Portfolio h1 {
    font-size: 2.3em;
    margin-bottom: 20px;
    text-align: center;
}
#about .profile img {
    width: 100%;
}
.profile {
    padding-left: 2%;
    padding-right: 2%;
    overflow: hidden;
    margin-bottom: 30px;
}
.right .p_top {
    width: 50%;
    float: left;
    margin-top: 20px;
}
.right .p_bottom {
    width: 50%;
    float: right;
}
@media(min-width:768px) {
    .right .p_top {
        width: 100%;
        float: none;
        margin-top: 20px;
    }
    .right .p_bottom {
        width: 100%;
        float: none;
    }
}
.profile h3,
.skill h3 {
    font-size: 1.3em;
    margin-bottom: 20px;
    position: relative;
}
.profile h3:after{
    content: '';
    width: 65px;
    height: 2px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: -5px;
}
.profile .p_bottom h3:after {
    width: 75px;
}
.profile p {
    padding: 3px 0;
}
.p_bottom {
    margin-top: 20px;
}
@media(min-width:768px){
    .right {
       padding-left: 5%;
        padding-top: 0;
    }
}
.skill {
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
    background: #f9f9f9;
    min-width: 320px;
    width: 100%;
    position: relative;
}
.program {
    width: 100%;
    height: 100px;
}
.program_box {
    text-align: center;
}
@media(min-width:768px){
    .program_box {
        float: left;
        margin-right: 0px;
    }
}
.skill .program img {
    width: 100px;
    padding: 5px;
}
.padding {
    padding-left: 2%;
    padding-right: 2%;
}

/* projects */
#Portfolio {
    background: #fff;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    padding-bottom: 20px;
}
.website {
    padding-top: 20px;
    position: relative;
}
@media(max-width:768px) {
    .w2 {
        margin-top: 10px;
    }
}
.website img {
    width: 100%;
}
.website .pc1 {
    width: 100%;
    position: relative;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
}
.website .pc_in {
    position: absolute;
    width: 90%;
    height: 60%;
    overflow: hidden;
    left: 50%;
    top: 10.5%;
    transform: translateX(-50%);
}
.website .pc_in img {
    width: 100%;
    position: absolute;
    /* top: -490px; */
    cursor: pointer;
}
.website_text {
    padding-left: 0;
    position: relative;
}
.website_text h3 {
    font-size: 1.3em;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
}
.website_text h3:after{
    content: '';
    width: 115px;
    height: 2px;
    background: #000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
}
@media(max-width:768px){
    .btn_box {
        padding-left: 150px;
     }
}
@media(min-width:768px){
    .website_text .text {
        width: 70%;
    }
    .website_text {
        padding-left: 5%;
    }
    #Portfolio {
        text-align: left;
    }
    .website_text h3:after {
        left: 0;
        transform: translateX(0);
    }
    
}
.website_text p {
    font-size: 18px;
    padding: 5px 0;
}
.w-title {
    font-size: 1.1em;
    font-weight: bold;
}
.website_text p.page {
    font-size: 15px;
}


.btn {
    width: 200px;
    float: left;
    margin-right: 20px;
}
.btn a:hover {
    background: #333;
    color: #fff;
}
.btn a:first-child{
    margin-top: 10px;
    display: block;
    padding: 10px;
    border: 1px solid #999;
    text-align: center;
    border-radius: 20px;
}
.project_2 {
    padding-top: 10px;
}
.clear {
    clear: both;
}

.work h1{
    margin-top: 40px;
}
/* contact */
#contact {
    margin-top: 20px;
    padding-bottom: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #333;
    clear: both;
    text-align: center;
}
.text_c {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    padding: 70px;
    border-radius: 15px;
    font-size: 1.5em;
    color: #fff;
}
.text_c h3 {
    font-size: 1.3em;
    margin-bottom: 20px;
}
.text_c p {
    padding: 10px 0;
    font-size: 0.8em;
}
@media(max-width:768px){
    .text_c .mail {
        font-size: 0.8em;
    }
}



.work_lists {
	list-style: none;
	width: 100%;
	position: relative;
	margin: 20px auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.work_lists li {
  flex-basis: 33.33%;
  background: #fff;
	padding: 10px;
	position: relative;
	/* box-shadow: 0 1px 3px rgba(0,0,0,0.1); */
}
.work_lists li:nth-child(3n){
  margin-right: 0;
}
.work-item {
    width: 50%;
}
@media (min-width: 768px){
	.work-item {
		width: 25%;
	}	
  .work_lists li {
    background: #fff;
    padding: 10px;

  }
}
@media (max-width: 768px){
    .work_lists li {
        flex-basis: 50%;
    }
}
.work_lists li a,
.work_lists li a img {
  width: 100%;
	display: block;
  position: relative;
}
.work_lists li a img {
    width: 100%;
    transform: scale(0.95);
    transition: 0.5s;
}
.work_lists li a:hover img {
    transform: scale(1);
}
.work_lists li a {
	overflow: hidden;
}
.work_lists li a div {
	position: absolute;
	background: #333;
	background: rgba(75,75,75,0.7);
	width: 100%;
	height: 100%;
}

.more {
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
    width: 100%;
    position: relative;
}
.more a {
    border: 1px solid #000;
    padding: 5px 20px;
    border-radius: 15px;
}
.work-item a {
    position: relative;
}
.more-view {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    z-index: 1;
    transform: scale(0.95);
    opacity: 0;
    transition: 0.5s;
    left: 0;
    top: 0;
}
.work_lists li a:hover .more-view {
    opacity: 1;
    transform: scale(1);
}
.more-view i {
    color: #fff;
    font-size: 3.5em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.work-item a {
    margin-bottom: 5px;
}
.w_title {
    padding-left: 10px;
}
.work-item:nth-child(3) {
    padding-bottom: 10px;
}
@media (max-width: 768px){
    .w_title {
        padding-left: 0;
    }
}

